%script{:src=>"../zepto.min.js"}
%script{:src=>"../underscore-min.js"}
%script{:src=>"../backbone-min.js"}
%script{:src=>"../main.js"}

%link{:rel=>"stylesheet", :href=>"../application.css"}
%link{:rel=>"stylesheet", :href=>"../bootstrap.css"}
%link{:rel=>"stylesheet", :href=>"../flat-ui.css"}

%script{:src=>"../../zepto.min.js"}
%script{:src=>"../../underscore-min.js"}
%script{:src=>"../../backbone-min.js"}
%script{:src=>"../../main.js"}

%link{:rel=>"stylesheet", :href=>"../../application.css"}
%link{:rel=>"stylesheet", :href=>"../../bootstrap.css"}
%link{:rel=>"stylesheet", :href=>"../../flat-ui.css"}

%script{:src=>"../../../zepto.min.js"}
%script{:src=>"../../../underscore-min.js"}
%script{:src=>"../../../backbone-min.js"}
%script{:src=>"../../../main.js"}

%link{:rel=>"stylesheet", :href=>"../../../application.css"}
%link{:rel=>"stylesheet", :href=>"../../../bootstrap.css"}
%link{:rel=>"stylesheet", :href=>"../../../flat-ui.css"}