-# encoding: utf-8
!!! 5
%html
	%head{:xmlns=>"http://www.w3.org/1999/xhtml",:"xmlns:og"=>"http://ogp.me/ns#" ,:"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}

		%title= "Dimidisk"
		= partial "meta/about_meta"

	%body
		.about-container
			.heading
				%h1 디미디스크, 변화의 중심.
			
			.about-wrapper
				%p 시작은 마이크로소프트 윈도우를 쓰지 않는 학생이라면 느끼는 불편함을 해소하기 위함이었습니다. 인터넷 익스플로러와 마이크로소프트 윈도우 환경이 아니면 파일 다운로드 조차 되지 않았지요.
				%p 이 문제를 '적극적으로' 해결하려 하는 사람은 아무도 없었습니다. 대체제를 직접 만들기로 마음을 먹었습니다.
				
				%h2 질문과 답변 - 함께 나아갑니다.
				%p 제안해주신 내용에 대하여 - 
				%ol
					%li '뒤로 가기' 버튼 좀 만들어주면 좋겠어 그게 없어서 폴더 뒤지다가 파일 없으면 처음으로 돌아가야 하잖아 ㅠㅠ 좋은 서비스 만들어줘서 고마워 사랑해 후배
					%span.date 2014-01-29 오후 11:00
					%p.answer 답변 : 의견 주신 대로 '뒤로 가기' 버튼을 만들어 넣었어요.
				
					%li 34개의 파일을 동시에 선택하여 다운로드받을 수 있는 기능 개발을 앙망합니다
					%span.date 2014-03-29 오후 7:50 
					%p.answer 답변 : 현재 개발 중이에요. 파일을 동시에 선택할 수 있는 상태까지는 왔고, 상당부분 진척된 상황입니다.
					
					%li 모바일에도쓰게해주세요
					%span.date 2014-04-27 오전 11:52 
					%p.answer 답변 : 쓰실 수 있어요. 그냥 스마트폰 웹 브라우저에서 접속하면 됩니다.
					
					%li 체크박스 기능을 원한다 그렇게 되면 폴더를 통째로 다운로드 할 수도 있겠군!
					%span.date 2014-04-28 오후 11:09
					%p.answer 답변 : 2번 질문과 마찬가지로 지금 진행중인 작업이에요.
					
					%li 다운로드 권한 체크좀..
					%span.date 2014-05-03 오전 7:32 
					%p.answer 답변 : 다운로드 권한을 체크하도록 개선했어요. 다운로드 권한이 없으면 에러페이지로 fallback.
					
					%li title를 지금 있는 폴더 이름으로 바꿔주세요! 하나같이 Dimidisk라서 헷갈려요 ㅠㅠ
					%span.date 2014-05-14 오후 12:02 
					%p.answer 답변 : 바꿨어요! 페이지 이름에 디렉토리 이름까지 포함되게.