!!! 5
%html
	%head
		%title= "Dimidisk"
		= partial "meta/_meta"
	%body
		.menu
			%h1.logo Dimidisk
		.container
			- @names.each_with_index do |name,i|
				- if i != 0
					.span2
						%a{:href => "shared/" +@ids[i].text}
							%p= name