!!! 5
%html
	%head{:xmlns=>"http://www.w3.org/1999/xhtml",:"xmlns:og"=>"http://ogp.me/ns#" ,:"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
	
		%title= "Dimidisk"
		= partial "meta/_meta"
	%body
		.menu
			%a.menu{:href=>'/'}
				%h1.logo Dimidisk
			%a.menu{:href=>'/logout'}
				%span.option{:class=>"radius button secondary"} Logout
			
		.container
			- @names.each_with_index do |name,i|
				- if i != 0
<<<<<<< HEAD
					%ul
						%li
							%a{:href => "shared/" +@ids[i].text}
								%span= name
=======
					.span1
						%a{:href => "shared/" +@ids[i].text}
							%p= name
>>>>>>> hotjs
