!!! 5
%html
	%head
		= partial "meta/_meta"
	%body
		.container
			.navbar.navbar-inverse
				.navbar-inner
					.container
						.nav-collapse.collapse
							%ul.nav
								%li
									%a{:href=>"disk/my"} DimiDisk
								%li
									%a{:href=>"disk/shared"} Shared
								%li
									%a{:href=>"login"} Login