!!! 5
%html
	%head
		= partial "meta/_meta"
	%body
		.container
			.navbar.navbar-inverse
				.navbar-inner
					.container
						.nav-collapse.collapse
							%ul.nav
								%li
									%a{:href=>"/"} DimiDisk
								%li
									%a{:href=>"/shared"} Shared
								%li
									%a{:href=>"/login"} Login
				.mainbox
					%h1= "안녕하세요!"
					=markdown "디미디스크는 구형 MS Internet Explorer와 MS Windows 환경에서 만 제대로 동작하는 [한국 디지털 미디어 고등학교 인트라넷 웹 디스크 서비스](http://disk.dimigo.hs.kr)를 대체하기 위해 이런 젼차로 어린 백셩이 니르고져 홇베이셔 만든 웹 서비스 입니다."
					
					=markdown "따라서 이 서비스는 Internet Explorer 환경은 지원하지 않으며, 지원하고 싶은 마음도 없고, 개발자 본인은 Internet Explorer를 사용할 수 있는 환경을 갖고 있지 않으므로 지원할 예정도 없습니다."
					
					=markdown "이 프로젝트의 소스코드는 [Github](https://github.com/sookcha/Dimidisk)에 공개되어 있으니 누구나 수정할 수 있습니다."
					