!!! 5
%html
	%head{:xmlns=>"http://www.w3.org/1999/xhtml",:"xmlns:og"=>"http://ogp.me/ns#" ,:"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
		%title= "Dimidisk"
		= partial "meta/__meta"
	%body
		.menu
			%a.menu{:href=>'/'}
				%h1.logo Dimidisk
			%a.menu{:href=>'/logout'}
				%span.option{:class=>"radius button secondary"} Logout
		.container
			- if @directoryNames.text == ".."
				%h1.center="저런~"
				%span.center="파일 또는 폴더가 없군요!"
			%ul
				- @directoryNames.each_with_index do |directoryName,i|
					- if i != 0
						%li
							- if @directory[i * 3].text == "file"
								%i{:class=>"icon-file"}
								%a{:href => "/download/" + @rawParams.split("/")[1].gsub('"]','') + "/" + escape_html(@directoryIds[i].text) + "/" + escape_html(directoryName.text)}
									%span=escape_html(directoryName.text)
								%span=" - " + @fileSize[i]
								
							- else
								%i{:class=>"icon-folder-close-alt"}
								%a{:href => @userid+"/"+escape_html(@directoryIds[i].text)}
									%span=escape_html(directoryName.text)
				