!!! 5
%html
	%head
		= partial "meta/__meta"
	%body
		.container
			.navbar.navbar-inverse
				.navbar-inner
					.container
						.nav-collapse.collapse
							%ul.nav
								%li
									%a{:href=>"/"} DimiDisk
								%li
									%a{:href=>"/shared"} Shared
								%li
									%a{:href=>"/login"} Login
									
			- @directoryNames.each_with_index do |directoryName,i|
				- if i != 0
					- if @directoryTypes.last.text == "file"
						%a{:href => "/download/" + @rawParams.split("/")[1].gsub('"]','') + "/" + escape_html(@directoryIds[i].text) + "/" + escape_html(directoryName.text)}
							%p=escape_html(directoryName.text)
					- else
						%a{:href => @userid+"/"+escape_html(@directoryIds[i].text)}
							%p=escape_html(directoryName.text)