!!! 5
%html
	%head
		%title= "Dimidisk"
		= partial "meta/_meta"
	%body
		.log-in
			%h1= "Login"
			%form{:action=>"/login",:method=>:POST}
				%input{:type=>"text", :name=>"username"}
				%input{:type=>"password", :name=>"password"}
				%input.btn.btn-large.btn-block{:type=>:submit, :value => "Login"}